@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
    background-color: #ecebe4;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

header img,
header nav {
    float: left;
}

nav ul li {
    display: inline-block;
    padding: 50px;
}

.social {
    padding: 40px;
    float: right;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hover {
    transition: 0.3;
    opacity: 1;
}

.hover:hover {
    transition: 0.3;
    opacity: 0.5;
}
.banner img{
    width: 100%;
    margin: 20px 0;
}
.texto{
    width: 47%;
    display: inline-block;
    float: left;
    text-align: justify;
    padding-right: 25px;
    line-height: 30px;
    font-size: 25px;
}
.sobre h2{
    font-weight: 900;
    text-align:center;
}
.sobre img{
    width: 50%;
    display: inline-block;
}

.servico img{
    border: 6px solid #5E8C61;
}

.titulo{
    color: #ffffff;
    font-size: 30px;
    text-transform:uppercase;
    font-weight:900;
    text-align:center;
}